/* this.style = {
    height: "100vh",
    width: "100vw",
    display: "grid",
    gridTemplateColumns: "1fr 4fr",
    gridTemplateRows: "1fr 8fr",
    // padding: "10px",
    margin: 0,
  } */

.mainPage {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
    margin: 0;
}